.site-footer .block {
  margin: 20px 0;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}

#block-views-block-blog-listing-premium-blog-posts .view-blog-listing{
  margin-top: 0px;
}

.node .field--name-field-category,
.node--type-content-page .node__title {
  background: #196dba;
  margin: 1.2em 0 1.2em;
  padding: 1.2em 0 1.2em;
  color: #fff;
  text-align: center;
}

.node--type-content-page .node__title {
  margin: 0;
}

.node .field--name-field-category a,
.node--type-content-page .node__title a {
  color: #fff;
  font-size: 2rem;
}

.view-blog-listing .views-exposed-form,
.view-id-business_listing .views-exposed-form {
  margin-bottom: 2em;
  border-bottom: 1px solid #196dba;
  padding-bottom: 2em;
}
.view-blog-listing .views-exposed-form > div > fieldset,
.view-id-business_listing .views-exposed-form > div > fieldset,
.view-blog-listing .views-exposed-form > div > div,
.view-id-business_listing .views-exposed-form > div > div {
  float: left;
  margin: 0 1em 0 1em;

}

.view-blog-listing .views-exposed-form > div > fieldset .form-text,
.view-id-business_listing .views-exposed-form > div > fieldset .form-text {
  margin-top: 0;
}

.page-wrapper .business-listing-main-header {
  background-color: #1a6dbb;
  color: white;
  padding-top: 120px;
  padding-bottom: 86px;
  text-transform: none;
  text-align: center;
}

.page-wrapper .business-listing-main-header:after {
  content: ' ';
  margin: 1.375rem auto 1.5rem auto;
  display: block;
  width: 3.125rem;
  background: #65e2ff;
  position: relative;
  height: 0.125rem;
}

.view-my-submissions caption {
  caption-side: top;
  color: #fff;
  font-size: 2rem;
  background: #196dba;
  padding-left: 1em;
}

div#block-addtoanybuttons {
  position: absolute;
  z-index: 9;
}

div.business-header,
div.business-footer {
  background-color: #000000;
  display: flex;
}

div.business-header div.right .node__title{
  padding: 0;
  background-color: transparent;
  text-align: left;
}

div.business-header div.right .node__title a{
  color: #196dba;
}

div.business-header div.left,
div.business-header div.right,
div.business-footer div.left,
div.business-footer div.right {
  padding: 40px;
  display: inline-block;
}
.view-taxonomy-listing .view-content,
.submissions-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.view-taxonomy-listing .view-content > div {
  display: inline-block;
}

.view-taxonomy-listing.view-display-id-block_1 .view-content {
  margin: 0 5em 0 5em;
}

@media (max-width: 767px) {
  .view-taxonomy-listing .view-content > div {
    display: none;
  }
}

@media (min-width: 768px) {
  #views-exposed-form-blog-listing-page-1 .form--inline.clearfix,
  #views-exposed-form-business-listing-page-1 .form--inline.clearfix {
    display: flex;
    justify-content: center;
  }
}

.site-footer {
  background-color: #196dba;
  border-top: .5em solid #fff;
}

.site-footer a,
.submissions-count > div a {
  color: #fff;
}

.business-copy {
  text-align: center;
  padding: 30px;
}

div.business-header div.right .email,
div.business-header div.right .tel,
div.business-header div.right .verified,
div.business-footer div.right .email,
div.business-footer div.right .tel,
div.business-footer div.right .verified {
  display: block;
}

div.business-header.light {
  background-color: #fff;
}

.submissions-count > div {
  background-color: #196dba;
  padding: 40px;
  text-align: center;
  border: 5px solid #fff;
}

.submissions-count > div span {
  font-size: 5rem;
  display: block;
  color: #fff;
}

nav.business-menu {
  display: inline-block;
}

.business-logo img {
  max-height: inherit;
}

.header.business-header.dark {
  background: black;
}

.node--type-content-page .node__title > a > span {
  padding: 0 10px;
}

.node--type-content-page .region.region-featured-bottom-first > div {
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

.node--type-content-page .region.region-featured-bottom-first > div > h2 {
  font-size: 1rem;
}

.business-footer > div {
  text-align: center;
}
