.site-footer .block {
  margin: 20px 0;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
  padding: 10px;
}

#block-views-block-blog-listing-premium-blog-posts .view-blog-listing{
  margin-top: 0px;
}

.node .field--name-field-category,
.node--type-content-page .node__title {
  background: #196dba;
  margin: 1.2em 0 1.2em;
  padding: 1.2em 0 1.2em;
  color: #fff;
  text-align: center;
}

.node--type-content-page .node__title {
  margin: 0;
}

.node .field--name-field-category a,
.node--type-content-page .node__title a {
  color: #fff;
  font-size: 2rem;
}

.view-blog-listing .views-exposed-form,
.view-id-business_listing .views-exposed-form {
  margin-bottom: 2em;
  border-bottom: 1px solid #196dba;
  padding-bottom: 2em;
}
.view-blog-listing .views-exposed-form > div > fieldset,
.view-id-business_listing .views-exposed-form > div > fieldset,
.view-blog-listing .views-exposed-form > div > div,
.view-id-business_listing .views-exposed-form > div > div {
  float: left;
  margin: 0 1em 0 1em;

}

.view-blog-listing .views-exposed-form > div > fieldset .form-text,
.view-id-business_listing .views-exposed-form > div > fieldset .form-text {
  margin-top: 0;
}

.page-wrapper .business-listing-main-header {
  background-color: #1a6dbb;
  color: white;
  padding-top: 120px;
  padding-bottom: 86px;
  text-transform: none;
  text-align: center;
}

.page-wrapper .business-listing-main-header:after {
  content: ' ';
  margin: 1.375rem auto 1.5rem auto;
  display: block;
  width: 3.125rem;
  background: #65e2ff;
  position: relative;
  height: 0.125rem;
}
